@font-face {
  font-family: "TTLakes-Regular";
  src: url("asserts/fonts/TTLakes-Regular.woff");
}

@font-face {
  font-family: "TTLakes-Medium";
  src: url("asserts/fonts/TTLakes-Medium.woff");
}

@font-face {
  font-family: "TTLakes-Bold";
  src: url("asserts/fonts/TTLakes-Bold.woff");
}
/* //////////////////////////////////////////////////////////////////// */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  min-width: 320px;
}
.page-wrapper {
  margin: 0 16px;
}
@media (min-width: 768px) {
  .page-wrapper {
    margin: 0 24px;
  }
}
/* ////////////////////////////////   HEADER   //////////////////////////////////// */

.header {
  width: 100vw;
  margin: 0 -16px;
  background-color: #fff;
  padding: 0 16px;
  min-height: 88px;
  display: flex;
  justify-content: space-between;
}
.header-left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-left-side::after {
  content: url("asserts/img/divider.svg");
  margin: 0 20px;
  display: block;
}
.button {
  padding: 0;
  border: none;
  background-color: inherit;
}
.menu-button {
  margin-right: 16px;
}
.check-status-button {
  margin-left: 16px;
}
.button-tablet {
  display: none;
}
@media (min-width: 768px) {
  .header {
    margin: 0 -24px;
  }
  .button-tablet {
    display: block;
  }
  .header-left-side::after {
    content: none;
  }
  .menu-button {
    margin-right: 0px;
  }
  .menu-button::after {
    content: url("asserts/img/divider.svg");
    margin: 0 20px;
  }
  .header-right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .chat-button {
    margin: 0 16px;
  }
  .repair-button::before {
    content: url("asserts/img/divider.svg");
    margin: 0 20px;
  }
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
}

/* ////////////////////////////////   TITLE   //////////////////////////////////// */

h1 {
  color: #1b1c21;
  font-family: TTLakes-Bold, sans-serif;
  font-size: 28px;
  line-height: 40px;
}
.title__text::before {
  content: url("asserts/img/highlight.svg");
  position: absolute;
  left: 0;
}

.title-menu {
  display: none;
}
@media (min-width: 1120px) {
  .title-wrapper {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-menu {
    display: flex;
  }
  .title__button {
    display: flex;
    align-items: center;
    margin-left: 24px;
  }
  .button__text {
    font-family: TTLakes-Regular, sans-serif;
    color: #1b1c21;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .button__image {
    margin-left: 8px;
  }
}

/* ////////////////////////////////   NAVIGATION   //////////////////////////////////// */

nav {
  margin: 0;
  padding: 0;
}
.navigation {
  width: 100vw;
  margin: 0 -16px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}
@media (min-width: 768px) {
  .navigation {
    margin: 0 -24px;
  }
}
@media (min-width: 1120px) {
  .navigation {
    overflow: hidden;
    width: auto;
    margin: 0;
    min-height: 75px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

li {
  list-style-type: none;
}

.link {
  color: #7e7e82;
  font-family: TTLakes-Medium, sans-serif;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  text-decoration: none;
  padding: 8px 16px;
}
.navigation li:first-child {
  margin-left: 16px;
}

@media (min-width: 768px) {
  .navigation li:first-child {
    margin-left: 24px;
  }
}
@media (min-width: 1120px) {
  .navigation li:first-child {
    margin-left: 0px;
  }
}

.link:hover {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 6px 14px;
}

/* ////////////////////////////////   ABOUT   //////////////////////////////////// */

.about {
  font-family: TTLakes-Regular, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.about__text {
  margin: 24px 0px 15px 0px;
  max-height: 90px;
  overflow: hidden;
}

.read-more {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.read-more__text {
  font-family: TTLakes-Regular, sans-serif;
  color: #1b1c21;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 6px;
}

.cps-photo {
  width: 100vw;
  margin: 0 -16px;
  min-width: 320px;
}
@media (min-width: 768px) {
  .about-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .about__text {
    min-width: 305px;
    max-height: 160px;
    margin-right: 48px;
  }
  .cps-photo {
    max-width: 360px;
    margin-top: 24px;

    border-radius: 5px;
  }
}
@media (min-width: 1120px) {
  .cps-photo {
    min-width: 531px;
    margin-top: 24px;

    border-radius: 5px;
  }
}
